.container{
    border: solid;
    position: absolute;
    left: 10%;
    padding: 10px;
}
.header{
    text-align: center;
}
ul li{
    text-decoration: none;
    list-style: none;
}
.footer h1{
    font-size: 20px;
}
