.about-page{
    display: none;
}

.strat{
    width: 300px;
    height: 500px;
    border-radius: 10px;
    background-color: #F7EEDD;
    position: absolute;
    top: 10%;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border: solid;
    padding: 20px;
    justify-content: left;
    word-wrap: break-word;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    line-height: 25px;
}

.logo img{
    width: 100px;
    height: 50px;
}

body{
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
    background-color:#41C9E2;
    color: #F7EEDD;
    font-family: "Merriweather", serif;
}

.header h1{
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
}

.nav-bar {
    border: none;
    border-bottom: solid; 
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}
.nav-bar ul{
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.nav-bar ul li a{
    text-decoration: none;
    color: #008DDA;
    background-color: #F7EEDD;
    font-weight: 600;
    border: solid;
    border-radius: 10px;
    padding: 5px 10px;
}

.container{
    border: solid;
    border-radius: 20px;
    height: 35rem;
    width: 400px;
    margin: 50px 5px;
    padding: 0 10px;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    background-color: #008DDA;
}
/**/
.product{
    display: inline-block;
    line-height: 1px;
}
.product img{
    width: 200px;
    height: 200px;
}
.product-name, .product-price, .buy-btn{
    
}
.product-name{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}
.product-price{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: center;
}
#price{
    font-weight: 900;
}
.buy-btn{
    padding: 10px 5px 10px 5px;
    color: #F7EEDD;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: #41C9E2;
    margin-top: -7px;
}
.buy-btn:hover{
    color: hsl(120, 100%, 2%);

}
/**/
.ballpen, .graphing-paper{
    border: solid;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 0;
    background-color: #F7EEDD;
    color: #008DDA;
    display: flex;
    flex-direction: column;
}

/**/
