.about-page{
    display: none;
    text-align: justify;
    margin: 0 20px;
    line-height: 23px;
    font-family: Arial, Helvetica, sans-serif;
}
.about-page h1{
    font-size: 15px;
    font-family: "Merriweather", serif;
    margin-top: 40px;
    display: none;
    word-spacing: 1px;
}
.about-page button{
    padding: 10px 10px;
    font-family: "Merriweather", serif;
    font-weight: bold;
    border-radius: 10px;
    color: #008DDA;
    margin-bottom: -20px;
}
.about-page img{
    width: 150px;
    height: 110px;
    border: solid;
    border-radius: 10px;
    margin-top: 10px;
}
.bascal{
    color: rgb(106, 236, 106);
}
#about i{
    rotate: 180deg;
}
#about i:hover{
    transform: rotate(90deg);
}
#home i:hover{
    transform: rotate(-90deg);
}
.product{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.strat{
    width: 250px;
    height: 500px;
    border-radius: 10px;
    background-color: #008DDA;
    position: absolute;
    top: 6%;
    border: solid;
    padding: 20px;
    text-align: justify;
    word-wrap: break-word;
    word-spacing: 1px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F7EEDD;
    line-height: 25px;
}
.strat button{
    border-radius: 10px;
    padding: 5px 14px;
}
.logo img{
    width: 100px;
    height: 50px;
    margin-left: 30px;
}

body{
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
    background-color:#41C9E2;
    color: #F7EEDD;
    font-family: "Merriweather", serif;
}

.header h1{
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
}

.nav-bar {
    border: none;
    text-align: center;
    display: flex;
    margin: 0 auto -30px auto;
    justify-content: space-evenly;
}
.nav-bar ul{
    display: flex;
    list-style: none;
    gap: 10px;
    margin: auto;
}
.nav-bar ul li a{
    text-decoration: none;
    color: #008DDA;
    background-color: #F7EEDD;
    font-weight: 600;
    border: solid;
    border-radius: 10px;
    padding: 5px 10px;
}

.container{
    border: solid;
    border-radius: 20px;
    height: 35rem;
    width: 400px;
    margin: 30px 20px;
    padding: 0 10px;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    background-color: #008DDA;
    box-shadow: 15px 15px hsla(0, 0%, 50%, 0.389);
}
/**/
.product{
    display: inline-block;
    line-height: 1px;
}
.product img{
    width: 200px;
    height: 200px;
}
.product-name{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}
.product-price{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: center;
}
#price{
    font-weight: 900;
}
.buy-btn a{
    text-decoration: none;
    color: #F7EEDD;
}
.buy-btn{
    padding: 10px 5px 10px 5px;
    color: #F7EEDD;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: #41C9E2;
    margin-top: -7px;
}
.buy-btn a:hover{
    color: hsl(120, 100%, 2%);

}
/**/
.ballpen, .graphing-paper{
    border: solid;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 0;
    background-color: #F7EEDD;
    color: #008DDA;
    display: flex;
    flex-direction: column;   
}
.stars{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}


/**/

